div {
    font-size: 16px;
}

li {
    margin-bottom: 5px;
}

hr {
    border-width: 1px;
    border-style: solid;
    border-color: #32728f;
    width: 80%;
}

.outer-container {
    /*Hiding the navbar scroll bar*/
    border: 5px solid purple;
    position: relative;
    overflow: hidden;
}

#nav-bar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    background-color: black;
    height: 100vh;
    width: 240px;
    position: fixed;
    z-index: 1;
    /*Hiding the navbar scroll bar*/
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0;
}

#nav-bar::-webkit-scrollbar {
    display: none;
}

#nav-bar h4 {
    display: flex;
    justify-content: center;
    text-align: center;
}

#nav-bar li {
    width: 240px;
}

#nav-bar li:hover {
    background-color: orange;
}

#nav-bar a:hover {
    background-color: orange;
}

.main {
    background-color: #003850;
    margin-left: 240px;
    padding-left: 40px;
    padding-right: 40px;
}

.main-section {
    margin: auto;
    margin-bottom: 5%;
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    border-width: 1px;
    border-style: solid;
    border-color: #32728f;
    background-color: #003045;
    color: white;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-section h4 {
    display: flex;
    justify-content: center;
}

.main-section div {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: -4px;
    padding: 12px;
    justify-content: center;
    background-color: #00202e;
    height: 100%;
}

.show-more {
    float: right;
    width: 100px;
    text-align: right;
}

.drop {
    display: none;
    padding-left: 8px;
    color: white;
}